/* General styles */
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

/* Header styles */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

header h1 {
    font-size: 1.5em;
    margin: 0;
}

header a {
    color: #fff;
    text-decoration: none;
}

/* Form styles */
form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

form input[type="text"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    box-sizing: border-box;
}

form input[type="submit"] {
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

form input[type="submit"]:hover {
    background-color: #555;
}

table {
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin: 0 auto;
}



td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    cursor: pointer;
    background-color: #ddd;
}

td {
    vertical-align: top;
}

th {
    vertical-align: middle;
}
